<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evenot App</title>
</head>
<body>
    <h1>Cadastro de Eventos</h1>
    <form action="" method="post">
        Nome: <input type="text" value="" name="nome">
        Local: <input type="text" value="" name="local">
        Data: <input type="date" value="" name="data">
        Horário: <input type="time" value="" name="horario">

        <button type="submit">Salvar</button>
    </form>
</body>
</html>